<div>
  <div class="panel-heading">
      <span class="label label-default label-center">{{title}}</span>
  </div>
  <div class="panel-body">
  <div class="list-group">
      <div class="list-group-item list-group-item-demo">
         <div *ngFor="let selling of sellings" class="list-group-item">
             <strong>Product ID</strong>: {{ selling.product.id }}<br>,
             <strong>Name</strong>: {{ selling.product.productName }}<br>,
             <strong>User Selling Item</strong>: {{ selling.seller.username }}<br>,
             <strong>Cost</strong>:$ {{ selling.cost }}<br>,
             <strong>Quantity</strong>: {{ (selling.quantity > 0) ? selling.quantity:'Sold Out' }}<br>,
             <strong>Description</strong>: {{selling.product.description}}
         </div>
         <div>
              <button class="btn btn-primary btn-center" (click)="findAllSellings()">GET</button>
         </div>
         <div *ngIf="sellings && sellings.length == 0">
             {{ clientMessage.message }}
         </div> 
      </div>
  </div>
</div>
<div class="panel-footer">
</div>